@mixin md {
    @media (min-width: 1200px) { @content; }
}
.modal-open{
    padding-right: 0px !important;
}
.modal-buy{
    padding: 40px 20px;
    background-image: url('/assets/img/bg-modal.png');
    background-size: cover;

    
    .modal-dialog {
        max-width:900px;
        .modal-content{
            background-color: #212121 ;

            .modal-body{
                padding: 0px;
            }
        }
    }
    .col-img{

        @include md{
            padding: 0px;
        }
        

        .close{
            background-color: #fff;
            opacity: 1;
            border-radius: 100%;
            padding: 3px 5px;
            position: absolute;
            top: -10px;
            right: 50%;
            transform: translate(50%);
            border: none;

            &:hover{
                opacity: 1;
            }
        }

        .buy-img{
            width: 100%;
        }
    }
    .col-validation{
        padding: 60px 40px 30px 40px;

        @include md{
            padding: 60px 40px;
        }

        .close{
            background-color: #fff;
            opacity: 1;
            border-radius: 100%;
            padding: 3px 5px;
            position: absolute;
            top: -10px;
            right: 5px;
            border: none;

            &:hover{
                opacity: 1;
            }
        }

        .modal_buy{
            &-title{
                font-size: 20px;
                color: #FFF;
                text-transform: uppercase;
                font-weight: 600;
                padding-bottom:8px;
            }
            &-rules{
                border: solid 1px #656565;
                padding: 30px;
                background-color: #151515;
                margin-bottom: 16px;

                .rule{
                    color:#fff ;
                    font-size: 14px;
                }
            }
            
            input{
                width: 100%;
                &::placeholder{
                    color: #B5B5B5;
                    font-size: 14ox;
                }
            }
            &-submit{
                margin-top: 16px;
                background-color: #E2231A;
                color: #FFFFFF;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                text-decoration: none;
                cursor: pointer;
                margin-bottom: 16px;
            }

            &-text{
                color:#D9D9D9; 
                font-size: 14px;
                text-align: center;
                flex-direction: column;

                a{
                    font-weight: 600;
                    text-decoration: underline;
                    padding-right: 8px;
                }

                @include md{
                    flex-direction: row;
                    text-align: start;
                }
            }
        }
    }
}



.form-control {
    border: 2px solid #ccc;
    &.error {
        border-color: #E2231A !important;
        color: #E2231A;
    }
}

.error-msg {
    margin-top: 10px;
    color: #E2231A !important;
}