.c-describe{
    background-color: #000;
    .describe__slick{
        .item{
            padding-right: 20px;
        }
        .describe{
                &-col{
                    background-color:rgba(163, 163, 163, 0.2);
                    border: 1px solid #6D6D6D;
                    padding: 40px;
                    position: relative;
                    height: 350px;

                    &::before{
                        content: "";
                        background-color: #000;
                        left: -3px;
                        top: -16px;
                        height: 46px;
                        position: absolute;
                        border-right: 1px solid #6D6D6D;
                        width: 22px;
                        transform: rotate(45deg);

                    }

                    &::after{
                        content: "";
                        background-color: #000;
                        right: -5px;
                        bottom: -16px;
                        height: 46px;
                        position: absolute;
                        border-left: 1px solid #6D6D6D;
                        width: 25px;
                        transform: rotate(45deg);
                    }

                    .title-describe{
                        color:#FFF;
                        font-family: 'versus';
                        font-weight: 400;
                        font-size: 25px;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        padding-bottom: 6px;
                    }
                    .content-describe{
                        color: #FFF;
                        font-size: 15px;
                        font-weight: 300;
                    }
                }
            }
        }
        .slick-dots {
            list-style: none;
            padding: 10px 0px;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
    
            button {
                font-size: 0;
                background: #535353 ;
                width: 12px;
                height: 12px;
                border-radius: 100%;
                border: 0;
                margin: 0 5px;
                opacity: .3;
                outline: none;
                transition: all .2s ease;
            }
    
            li.slick-active {
                button {
                    opacity: 1;
                    width: 12px;
                    background:#D9D9D9;
                }
            }
        }

}