
    @mixin md {
        @media (min-width: 1200px) { @content; }
    }
    .c-dimensions{
    padding: 80px 0px;
    background-color: #000;
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/camisaedmundo/fundo-dimensions.png');
    background-size: cover;

        
    .container{
        padding: 0px 24px;

        @include md{
            padding:0px;
        }
    }
    .dimension{
        &-title{
            text-transform: uppercase;
            color: #fff;
            font-size:30px;
            font-family: 'versus';
            margin-bottom: 24px;
            margin-top: 24px;
            letter-spacing: 5px;
        }
        &-targets{
            margin-bottom: 16px;

            .box-target{
                position: relative;
                margin: 0 8px;
            }

            .target{
                position: relative;

                &-content{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    top: 2px;
                }
            }
        }

        &-text{
            font-size: 18px;
            color: #FFF;
            margin-top: 8px;
            font-family: 'gotham';
        }

        
        &-box-img{
            margin-top: 8px;
            @include md{
                margin-top: 0;
                margin-bottom: 24px;
            }
            .text_img{
                margin-top: 16px;
                font-size: 16px;
                color: #fff;
                text-align: center,;
                @include md{
                    text-align: start;
                }
            }
        }
    }
    .target-max{
        position: relative;
        width: 100%;
        
            
    }
    .target-max_content{
        position: absolute;
        top: 10px;
        padding: 0px 30px;
        color: #fff;
        font-weight:500;
    }

    .container-img{
        padding-top: 32px;

        @include md{
            padding-top: 0px ;
        }
    }
}