
    @mixin md {
        @media (min-width: 1200px) { @content; }
    }
    .c-dimensions{
    padding: 80px 0px;
    background-color: #000;
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/camisaedmundo/fundo-dimensions.png');
    background-size: cover;

        
    .container{
        padding: 0px 24px;

        @include md{
            padding:0px;
        }
    }
    .dimension{
        &-title{
            text-transform: uppercase;
            color: #fff;
            font-size:30px;
            font-family: "versus-medium";
            margin-bottom: 24px;
            letter-spacing: 5px;
        }
        &-targets{
            margin-bottom: 16px;

            .target{
                background-color: #D9D9D9;
                width: 130px;
                display: flex;
                justify-content: center;
                height: 30px;
                margin-right: 16px;
                align-items: center;
                position: relative;

                &::before{
                    background-color: #000;
                    position: absolute;
                    content: "";
                    width: 20px;
                    height: 18px;
                    top: -12px;
                    left: -10px;
                    transform: rotate(48deg);
                    
                }
                &::after{
                    background-color: #000;
                    position: absolute;
                    content: "";
                    width: 20px;
                    height: 18px;
                    bottom: -12px;
                    right: -10px;
                    transform: rotate(48deg);
                    
                }

                &:last-child{
                    margin-right: 0px;
                }
            }

            
        }

        &-text{
            font-size: 18px;
            color: #FFF;
            margin-top: 32px;
        }

        
        &-box-img{
            margin-top: 8px;
            @include md{
                margin-top: 0;
                margin-bottom: 24px;
            }
            .text_img{
                margin-top: 16px;
                font-size: 16px;
                color: #fff;
                text-align: center,;
                @include md{
                    text-align: start;
                }
            }
        }
    }
    .container-img{
        padding-top: 32px;

        @include md{
            padding-top: 0px ;
        }
    }
}