.c-form{
    background-color: #000;
    padding: 60px 20px;

    @include md{
        padding: 60px 0px;
    }
    .container{
        .col{
            &-register{
                background-color: #101010;
                height: 130px;
                display: flex;
                align-items: center;

                p{
                    color: #FFFFFF;
                    font-weight: 300;
                    font-size: 16px;
                    padding: 32px;
                    font-family: 'Gotham';
                    text-align: center;

                    @include md{
                        font-size: 16px;
                        text-align: start;
                        padding: 90px;
                    }

                    strong{
                        font-weight: 700;
                    }
                }

            }
            &-shield{
                left: 33%;
                z-index: 99;
                .time-title{
                    .icon-vasco{
                        height: 90px;
                    }
                }
            }
            &-send{
                padding: 30px 0px 10px 0px;
                background-color:#3F3F3F; 
                min-height: 130px;
                display: flex;
                justify-content: center;
                align-items: center;

                @include md{
                    padding: 0px;
                    height: 130px;
                }

                .icon-vasco{
                    height: 90px;
                    width: 90px;
                    position: relative;
                    left: -35px;
                }

                .input-name{
                    margin-bottom: 8px;

                    @include md{
                        margin-bottom: 0px;
                    }
                }

                .input-name , .input-email{
                    border: 2px solid #FFFFFF;
                    color: #FFFFFF;
                    background-color: #3F3F3F;
                    
                    &::placeholder{
                        color: #FFFFFF;
                    }
                    
                }
                .aceite-label{
                    font-size: 14px;
                    color: #AFAFAF;

                    a{
                        color: #C9C9C9;
                        text-decoration: underline;
                    }
                }

                .btn-news{
                    background-color: #FFF;
                    border: none;
                    padding: 8px;
                    border-radius: 5px;
                    font-weight: 700;
                    margin-top: 8px;
                    margin-right: 8px;
                }
                .icon-arrow-right{
                    font-weight: 700;
                }
            }
        }

    }
}
.buttons{
    justify-content: center;

    @include md{
        justify-content: start;
    }
}