.c-top{
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/camisaedmundo/tira-topo.png');
    min-height: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .title-top{
        span{
            font-size: 14px;
            text-transform: uppercase;
            color: #FFF;
            letter-spacing: 5px;
        }
        .shield{
            width: 30px;
            margin:0 20px;
        }
    }
}

.c-home{
    background-color: #000;
    min-height: 90vh;
    display: flex;
    padding: 40px 0px 60px 0px;
    align-items: center;

    .box-title{
        margin-bottom: 48px;
        .top-title-home{
            color: #fff;
            font-family: "versus-medium";
            font-size: 25px;
            letter-spacing: 5px;
            margin-bottom: 0;
        }
        .title-home{
            font-family:"versus-medium";
            font-size: 60px;
            letter-spacing: 3px;
            color: #FFF;
        }
    }
    .box-price{
        .price{
            color: #FFF;
            font-size: 16px;
            font-weight: 400;

            &-new{
                font-weight: 700;
                font-size: 30px;
                padding-bottom: 16px;
            }
        }
        .target-price{
            padding: 8px 40px 8px 30px;
            color: #FFF;
            background-color:#222222;
            font-size: 14px;
            text-transform: uppercase;
            position: relative;

            &::before{
                position: absolute;
                width: 50px;
                height: 25px;
                content: "";
                bottom: 1px;
                transform: rotate(125deg);
                right: -24px;
                background-color: #000;
            }
        }
    }
    .box-sizes {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        button {
            width: 46px;
            height: 56px;
            display: block;
            border: none;
            background: none;
            background-image: url('../img/escudo-variant.svg');
            color: #FFF;
            font-weight: bold;
            font-size: 20px;
            &.selected {
                color: $green-dark;
            }
        }
    }
    .box-buy{
        margin-top: 64px;
        max-width: 60%;
        padding: 0;
        .amount{
            padding: 10px 20px;
            border: 1px solid #363636;
            display: flex;
            justify-content: space-between;

            span{
                color: #fff;
                font-family: 'versus-medium';
                letter-spacing: 2px;
            }
            
        }
        .buy{
            background-color:#fff;
            color: #000;
            display: flex;
            justify-content: center;
            padding: 10px 0px;
            font-family: 'versus-medium';
            font-size: 22px;
            text-decoration: none;
            cursor: pointer;
        }
    }
    .slick__shirt{
        .shirt{
            max-height: 420px;
        }
    }
    .container-nav{
        height: 60px;
        position: absolute;
        bottom: 0px;
        background:linear-gradient(270deg, #1C1C1C 0%, rgba(28, 28, 28, 0) 100.63%);
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;

        .nav-slick{
            &__shirt{
                
            }
        }
    }
}