@mixin md{
    @media (min-width: 1200px) { @content; }
}


.c-top{
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/camisaedmundo/tira-topo.png');
    min-height: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .title-top{
        span{
            font-size: 14px;
            text-transform: uppercase;
            color: #FFF;
            letter-spacing: 5px;
        }
        .shield{
            width: 30px;
            margin:0 20px;
        }
    }
}

.c-home{
    background-color: #000;
    min-height: 90vh;
    display: flex;
    padding: 40px 0px 60px 0px;
    align-items: center;

    .box-title{
        margin-top: 24px;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .top-title-home{
            color: #fff;
            font-family: "versus";
            font-size: 22px;
            letter-spacing: 5px;
            margin-bottom: 0;
            padding-top: 32px;
            font-weight: 300;

            @include md{
                font-size: 30px;
                padding-top: 0px;
                line-height: 1.5rem;
            }
        }
        .title-home{
            font-family:"versus-medium";
            font-size: 60px;
            letter-spacing: 3px;
            color: #FFF;
        }
        @include md{
            display: block;
            font-size: 70px;
        }
    }
    .box-price{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .price{
            color: #FFF;
            font-size: 16px;
            font-weight: 400;

            &-new{
                font-weight: 700;
                font-size: 30px;
                padding-bottom: 16px;
            }
        }
        .target-price{
            padding: 8px 40px 8px 30px;
            color: #FFF;
            background-color:#222222;
            font-size: 14px;
            text-transform: uppercase;
            position: relative;

            &::before{
                position: absolute;
                width: 50px;
                height: 25px;
                content: "";
                bottom: 1px;
                transform: rotate(125deg);
                right: -24px;
                background-color: #000;
            }
        }
        @include md{
            display: block;
        }
    }
    .box-sizes {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        justify-content: center;
        button {
            width: 46px;
            height: 56px;
            display: block;
            border: none;
            background: none;
            background-image: url('../img/escudo-variant.svg');
            transition: background-image 0.4s ease-in-out;
            color: #FFF;
            font-weight: bold;
            font-size: 20px;
            &.selected {
                background-image: url('../img/escudo-variant-select.svg');
            }
        }
        @include md{
            justify-content: start;
        }
    }
    .box-buy{
        margin-top: 42px;
        max-width: 100%;
        padding: 0;
        display: flex;
        
        .amount{
            padding: 10px 20px;
            border: 1px solid #363636;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span{
                color: #fff;
                font-family: 'versus-medium';
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #D9D9D9;
                font-weight: 600;
            }

            .counter {
                display: flex;
                justify-content: center;
                align-items: center;
                
                input {
                    background: none;
                    color: #fff;
                    font-family: 'versus-medium';
                    border: none;
                    width: 40px;
                    text-align: center;
                }

                .more, .less{
                    border: none;
                    background: none;
                    color: #fff;
                    font-family: 'versus-medium';
                    font-weight: 600;
                    padding: 0px 15px;

                    span{
                        font-size: 30px;
                    }
                }
            }
        }
        .buy{
            background-color:#fff;
            color: #000;
            display: flex;
            justify-content: center;
            padding: 10px 0px;
            font-family: 'versus-medium';
            font-size: 22px;
            text-decoration: none;
            align-items: center;
            cursor: pointer;
            width: 100%;

            @include md{
                padding: 10px 0px;
            }
        }
        @include md{
            display: block;
            max-width: 60%;
            margin-top: 64px;
        }
    }
    .slick__shirt{
        .shirt{
            max-height: 420px;
        }

        .slick-dots {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
    
            button {
                font-size: 0;
                background: #535353 ;
                width: 20px;
                height: 5px;
                border-radius: 4px;
                border: 0;
                margin: 0 5px;
                opacity: .3;
                outline: none;
                transition: all .2s ease;
            }
    
            li.slick-active {
                button {
                    opacity: 1;
                    width: 40px;
                    background:#FFA82D;
                }
            }
        }
    }
    .container-nav{
        height: 60px;
        position: absolute;
        bottom: 0px;
        background:linear-gradient(270deg, #1C1C1C 0%, rgba(28, 28, 28, 0) 100.63%);
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;
    }
}