@mixin md {
    @media (min-width: 1200px) { @content; }
}
p{
    margin-bottom: 0;
}
.c-informative{
    background-color: #000;
    padding: 60px 0px;
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/camisaedmundo/background_teste.png');
    background-size: cover;
    background-position: center;

    .container{
        padding: 0px 24px;

        @include md{
            padding:0px;
        }
    }

    .text{
        color: #FFF;

        &-toptitle{
            text-transform: uppercase;
            font-size: 30px;
            font-family: 'versus';
            font-weight: 300;
            letter-spacing: 5px;
            text-align: center;

            @include md{
                font-size: 32px;
                text-align: start;
                line-height: 1rem;
                font-weight: 300;
                padding-bottom: 12px;
                letter-spacing: 5px;
            }
        }
        &-title{
            text-transform: uppercase;
            font-size: 100px;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 4.8rem;
            letter-spacing: 1px;
            font-family: 'versus';
            text-align: center;

            @include md{
                text-align: start;
                font-size: 140px;
                line-height: 6rem;
            }
        }
        &-subtitle{
            color: #FFA400;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            padding-top: 8px; 

            @include md{
                padding-top: 0px;
                text-align: justify;
            }
        }
        

        &-content{
            margin-bottom: 0px;
            padding-top: 8px;
            padding-bottom: 32px;
            text-align: center;
            font-size: 18px;

            @include md{
                text-align: start;
                padding-top: 16px;
                font-weight: 300;
                font-size: 16px;
            }

            &-title{
                color: #FFA400;
                font-weight: 700;
                padding-bottom: 8px;
                text-align: center;
                font-size: 18px;
                padding-top: 32px;

                @include md{
                    text-align: start;
                    font-size: 16px;
                    padding-top: 0px;
                }
            }

            strong{
                font-weight: 700;
            }
        }
    }
    .box-target{
        display: flex;
        align-items: center;
        margin-top: 16px;
        justify-content: center;

        @include md{
            justify-content: start;
            margin-top: 32px;
        }

        .target{
            background-color: #646464;
            padding: 8px 16px;
            border-radius: 10px;
            margin-right:16px;
            color: #FFF;
            font-weight: 700;

            &:last-child{
                margin-right: 0px;
            }

        }
    }
    .img-informative{
        max-width: 100%;
        @include md{
            min-height: 500px;
        }
    }
    .informative-box{
        max-height: 150px;
        overflow: hidden;

        @include md{
            max-height: 800px;
            overflow: auto;
        }

        &-active{
            height: 1200px;
        }
    }
    .see-more{
        width: 100%;
        border:#FFF 3px solid;
        display: flex;
        justify-content: center;
        color: #FFF;
        font-size: 16px;
        padding: 8px 0px;
        font-weight: 800;
        bottom: 0;
        text-transform: uppercase;
        z-index: 99;
        margin-top: 16px;
        
        &.active{

        }
        @include md{
            display: none;
        }
    }
}