
.c-shield{
    padding: 80px 0px;
    background-color: #000;

    .row-top{
        padding-bottom: 64px;
    }
    .shield{
        &-title{
            font-family:'versus';
            text-transform: uppercase;
            color: #fff;
            font-size: 70px;
            letter-spacing:3px;
            line-height: 4rem;
            font-weight: 300;
        }
        &-content{
            color: #fff;
            font-size: 16px;
            font-weight: 300;
            padding-top: 8px;
        }
    }
}