.modal-validate{
    padding: 40px 20px;
    background-image: url('/assets/img/bg-modal.png');
    background-size: cover;
    overflow: hidden;

    @include md{
        padding: 0px;
    }

    .modal-dialog {
        max-width:1000px;
        .modal-content{
            background-color: #212121 ;

            .modal-body{
                padding: 0px;

                .col-img{
                    .close{
                        background-color: #fff;
                        opacity: 1;
                        border-radius: 100%;
                        padding: 3px 5px;
                        position: absolute;
                        top: -10px;
                        right: 50%;
                        transform: translate(50%);
                        border: none;
            
                        &:hover{
                            opacity: 1;
                        }
                    }
                    .validate-img{
                        height: 530px;
                        width: 350px;
                        object-fit: cover;
                    
                    }

                    
                }
                .col-validation{
                    padding: 0px 40px;

                    .close{
                        background-color: #fff;
                        opacity: 1;
                        border-radius: 100%;
                        padding: 3px 5px;
                        position: absolute;
                        top: -10px;
                        right: 5px;
                        border: none;
            
                        &:hover{
                            opacity: 1;
                        }
                    }
                }
                .modal_validate{
                    &-box-title{
                        width: 100%;
                        border: 1px solid #656565;
                        background-color: #151515;
                        padding: 20px;
                        margin-top: 24px;
                        margin-bottom: 24px;
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        p{
                            color: #DBDBDB;
                            font-size: 14px;
                            text-align: center;

                            @include md{
                                text-align: start;
                            }
                        }
                    }
                    &-title{
                        color: #fff;
                        font-weight: 600;
                        font-size: 18px;
                        text-transform: uppercase;
                        margin-bottom: 0 ;
                        text-align: center;
                    }
                    &-box_rules{
                        background-color: #151515;
                        padding: 20px;
                        margin-bottom: 32px;
                        
                        .rule{
                            color:#DBDBDB;
                            font-size: 14px;
                        }
                    }
                    &-submit{
                        background-color: #E2231A;
                        width: 100%;
                        height: 40px;
                        display: flex;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 500;
                        text-decoration: none;
                        border: none;

                        
                    }
                }
                .describe-senha{
                    color: #DBDBDB;
                    font-size: 14px;
                    padding: 0px 12px;
                    text-align: justify;
                }
                .submit{
                    padding-left: 16px; 
                    margin-bottom: 32px;
                    
                }
                .back-kit{
                    color: #D9D9D9;
                    text-align: center;
                    text-decoration: underline;
                    font-weight: 500;
                    font-size: 14px;
                    cursor: pointer;
                    display: block;
                }
            }
        }
    }
    .title-gender{
        color: #B5B5B5;
        font-weight: 300;
        font-size: 16px;
        padding-right: 12px;
    }
    .gender{
        color: #B5B5B5;
        margin: 0 8px;
        cursor: pointer;

        
    }
    #gender-error{
        color: #E2231A;
        font-weight: 700;
        font-size: 12px;
    }
    .form-control:disabled {
        background: #b1b1b1;
    }
}



    input.error {
        border: 1px solid #e63636;
        background-color: rgba(139, 0, 0, 0.127);
    }
    input.success {
        border: 1px solid #258218;
        background-color: rgba(23, 110, 44, 0.127);
        color: #FFF;
    }
    .msg {
        min-height: 22px;
        padding-top: 2px;
        display: block;
        font-size: 12px;
    }
    .msg.error {
        color: #e63636;
    }
    .form-group {
        margin-bottom: 0;
    }